<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand text-white">Welcome to Forex Services</a>
    <button class="btn btn-danger my-2 my-sm-0" style="position: absolute;right: 150px;" (click)='OnAdminLoginClick()'>Admin Login</button>
    <button class="btn btn-danger my-2 my-sm-0" (click)='OnLoginClick()'>Login/Register</button>
  </nav>

  <div class='card mt-5'>
    <div class='card-header'>
      <h1>A cheaper, faster way to send money abroad.</h1>
    </div>
    <img src="/assets/image/background.jpg"
               class="img-responsive center-block"
               style="max-height:350px;" />
    <div class='card-body'>
        <!-- <form  novalidate> -->
        <div class='form-group row mb-2'>

            <div class='col-md-4' style="background-color:aliceblue;">
               <div class='card-header'>
                <font size = "5">1. Register for free.</font> <br/>
              </div>
                  <div class='card-body'>
                    <font size = "4">Sign up online or in our app for free. 
                      All you need is an email address, 
                      or a Google or Facebook account.</font> </div> 
            </div>

            <div class='col-md-4' style="background-color:aliceblue;">
              <div class='card-header'>
               <font size = "5">2. Choose an amount to send.</font> <br/>
             </div>
                 <div class='card-body'>
                   <font size = "4">Tell us how much you want to send.
                      We’ll show you our fees upfront, and tell you when your money should arrive.</font> </div> 
           </div>

            <div class='col-md-4' style="background-color:aliceblue;">
              <div class='card-header'>
               <font size = "5">3. Add recipient’s bank details.</font> <br/>
             </div>
                 <div class='card-body'>
                   <font size = "4">Fill in the details of your recipient’s bank account.</font> </div> 
           </div>

        </div>
<!--  -->
        <div class='form-group row mb-2'>

            <div class='col-md-4' style="background-color:aliceblue;">
               <div class='card-header'>
                <font size = "5">4. Verify your identity.</font> <br/>
              </div>
                  <div class='card-body'>
                    <font size = "4">For some currencies, or for large transfers, 
                      we need a photo of your ID. This helps us keep your money safe.</font> </div> 
            </div>

            <div class='col-md-4' style="background-color:aliceblue;">
              <div class='card-header'>
               <font size = "5">5. Pay for your transfer.</font> <br/>
             </div>
                 <div class='card-body'>
                   <font size = "4">Send your money with a bank transfer.</font> </div> 
           </div>

            <div class='col-md-4' style="background-color:aliceblue;">
              <div class='card-header'>
               <font size = "5">6. That’s it.</font> <br/>
             </div>
                 <div class='card-body'>
                   <font size = "4">We’ll handle the rest. You can track your transfer in your account, 
                     and we'll tell your recipient it's coming. <br></font> </div> 
           </div>

        </div>
        <!-- </form> -->
    </div>
</div>